// colors
$baseColor: #232026;
$color: $baseColor;
$white: #ffffff;
$blue: #0D86D1;
$lightBlue: #f2f9fd;
$orange: #FF8000;
// $lightBlue: #dbedf8;
$grey: #E7E8E2;

$font: 20px/1.25 'Maven', sans-serif;

$xlarge: 1280px;
$large: 992px;
$medium: 840px;
$small: 767px;
$xsmall: 480px;