@font-face {
    font-family: 'Maven';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/files/templates/fonts/maven-pro-v32-latin-regular.eot');
    src: local(''),
        url('/files/templates/fonts/maven-pro-v32-latin-regular?#iefix') format('embedded-opentype'),
        url('/files/templates/fonts/maven-pro-v32-latin-regular.woff2') format('woff2'),
        url('/files/templates/fonts/maven-pro-v32-latin-regular.woff') format('woff'),
        url('/files/templates/fonts/maven-pro-v32-latin-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Maven';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('/files/templates/fonts/maven-pro-v32-latin-500.eot');
    src: local(''),
        url('/files/templates/fonts/maven-pro-v32-latin-500?#iefix') format('embedded-opentype'),
        url('/files/templates/fonts/maven-pro-v32-latin-500.woff2') format('woff2'),
        url('/files/templates/fonts/maven-pro-v32-latin-500.woff') format('woff'),
        url('/files/templates/fonts/maven-pro-v32-latin-500.ttf') format('truetype');
}

@font-face {
    font-family: 'Maven';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('/files/templates/fonts/maven-pro-v32-latin-600.eot');
    src: local(''),
        url('/files/templates/fonts/maven-pro-v32-latin-600?#iefix') format('embedded-opentype'),
        url('/files/templates/fonts/maven-pro-v32-latin-600.woff2') format('woff2'),
        url('/files/templates/fonts/maven-pro-v32-latin-600.woff') format('woff'),
        url('/files/templates/fonts/maven-pro-v32-latin-600.ttf') format('truetype');
}

@font-face {
    font-family: 'Maven';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/files/templates/fonts/maven-pro-v32-latin-700.eot');
    src: local(''),
        url('/files/templates/fonts/maven-pro-v32-latin-700?#iefix') format('embedded-opentype'),
        url('/files/templates/fonts/maven-pro-v32-latin-700.woff2') format('woff2'),
        url('/files/templates/fonts/maven-pro-v32-latin-700.woff') format('woff'),
        url('/files/templates/fonts/maven-pro-v32-latin-700.ttf') format('truetype');
}

@font-face {
    font-family: 'Maven';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url('/files/templates/fonts/maven-pro-v32-latin-800.eot');
    src: local(''),
        url('/files/templates/fonts/maven-pro-v32-latin-800?#iefix') format('embedded-opentype'),
        url('/files/templates/fonts/maven-pro-v32-latin-800.woff2') format('woff2'),
        url('/files/templates/fonts/maven-pro-v32-latin-800.woff') format('woff'),
        url('/files/templates/fonts/maven-pro-v32-latin-800.ttf') format('truetype');
}

@font-face {
    font-family: 'Maven';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url('/files/templates/fonts/maven-pro-v32-latin-900.eot');
    src: local(''),
        url('/files/templates/fonts/maven-pro-v32-latin-900?#iefix') format('embedded-opentype'),
        url('/files/templates/fonts/maven-pro-v32-latin-900.woff2') format('woff2'),
        url('/files/templates/fonts/maven-pro-v32-latin-900.woff') format('woff'),
        url('/files/templates/fonts/maven-pro-v32-latin-900.ttf') format('truetype');
}